In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
fish_df = pd.read_csv('https://assets.datacamp.com/production/repositories/655/datasets/fee715f8cf2e7aad9308462fea5a26b791eb96c4/fish.csv',header=None)

In [37]:
fish_df.head()

       0      1     2     3     4     5     6
0  Bream  242.0  23.2  25.4  30.0  38.4  13.4
1  Bream  290.0  24.0  26.3  31.2  40.0  13.8
2  Bream  340.0  23.9  26.5  31.1  39.8  15.1
3  Bream  363.0  26.3  29.0  33.5  38.0  13.3
4  Bream  430.0  26.5  29.0  34.0  36.6  15.1

In [38]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       85 non-null     object
 1   1       85 non-null     float64
 2   2       85 non-null     float64
 3   3       85 non-null     float64
 4   4       85 non-null     float64
 5   5       85 non-null     float64
 6   6       85 non-null     float64
dtypes: float64(6), object(1)
memory usage: 4.8+ KB

In [39]:
samples = fish_df.iloc[:,1:6]

In [40]:
species = fish_df.iloc[:,0]

In [41]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [42]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(samples)
labels = kmeans.predict(samples)

In [43]:
cross_df = pd.DataFrame({'labels':labels,'species':species})

In [44]:
cross_tab = pd.crosstab(cross_df['labels'],cross_df['species'])

In [45]:
print(cross_tab)

species  Bream  Pike  Roach  Smelt
labels
0            1     1     17     14
1           16     2      0      0
2            0     4      0      0
3           17    10      3      0

In [46]:
scaler = StandardScaler()
kmeans = KMeans(n_clusters=4)
pipeline = make_pipeline(scaler,kmeans)

In [47]:
pipeline.fit(samples)
labels = pipeline.predict(samples)

In [48]:
cross_df = pd.DataFrame({'labels':labels,'species':species})

In [49]:
cross_tab = pd.crosstab(cross_df['labels'],cross_df['species'])

In [50]:
print(cross_tab)

species  Bream  Pike  Roach  Smelt
labels
0            0     0     19     14
1           34     0      1      0
2            0     5      0      0
3            0    12      0      0