In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [3]:
liver_df = pd.read_csv(r'C:\Users\Akhil_S_Bhat\Documents\AIML\Machine_Learning\Supervised Learning\Classification\Data\3_Indian_Liver_Patient_Records\indian_liver_patient.csv')

In [4]:
liver_df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [5]:
liver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [6]:
liver_df[liver_df['Albumin_and_Globulin_Ratio'].isnull()]

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
209,45,Female,0.9,0.3,189,23,33,6.6,3.9,NaN,1
241,51,Male,0.8,0.2,230,24,46,6.5,3.1,NaN,1
253,35,Female,0.6,0.2,180,12,15,5.2,2.7,NaN,2
312,27,Male,1.3,0.6,106,25,54,8.5,4.8,NaN,2

In [7]:
liver_df = liver_df.dropna()

In [8]:
liver_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         579 non-null    int64
 1   Gender                      579 non-null    object
 2   Total_Bilirubin             579 non-null    float64
 3   Direct_Bilirubin            579 non-null    float64
 4   Alkaline_Phosphotase        579 non-null    int64
 5   Alamine_Aminotransferase    579 non-null    int64
 6   Aspartate_Aminotransferase  579 non-null    int64
 7   Total_Protiens              579 non-null    float64
 8   Albumin                     579 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     579 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 54.3+ KB

In [9]:
liver_df['Gender'].replace(['Female','Male'],[1,0],inplace=True)

In [10]:
liver_df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [11]:
liver_df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [12]:
X=liver_df[['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio']]

In [13]:
liver_df.rename(columns={'Dataset':'Has_Disease'},inplace=True)

In [14]:
y=liver_df['Has_Disease']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=1)

In [16]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(434, 10)
(145, 10)
(434,)
(145,)

## Training Classification Tree

In [17]:
dt = DecisionTreeClassifier(max_depth=4,random_state=1)
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)
acc = accuracy_score(y_test,y_pred)
print('Test Set Accuracy: ',acc)

Test Set Accuracy:  0.6551724137931034

## Improving accuracy with Entropy and Gini Index

In [18]:
dt_entropy = DecisionTreeClassifier(criterion='entropy',max_depth=4,random_state=1)
dt_entropy.fit(X_train,y_train)
y_pred = dt_entropy.predict(X_test)
acc = accuracy_score(y_test,y_pred)
print('Test Set Accuracy with Entropy: ', acc)

Test Set Accuracy with Entropy:  0.6827586206896552

In [19]:
dt_gini = DecisionTreeClassifier(criterion='gini',max_depth=4,random_state=1)
dt_gini.fit(X_train,y_train)
y_pred = dt_gini.predict(X_test)
acc = accuracy_score(y_test,y_pred)
print('Test Set Accuracy with Gini Index: ', acc)

Test Set Accuracy with Gini Index:  0.6551724137931034

## Improving Accuracy with Voting and Bagging Classifiers

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier, BaggingClassifier

In [21]:
lr = LogisticRegression(random_state=1)
knn = KNeighborsClassifier(n_neighbors=27)
dt = DecisionTreeClassifier(min_samples_leaf=0.13,random_state=1)
classifiers = [('Logistic Regression', lr),('K Nearest Neighbors',knn),('Classification Tree',dt)]

In [22]:
for clf_name, clf in classifiers:
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    accuracy = accuracy_score(y_pred,y_test)
    print(clf_name,accuracy)

Logistic Regression 0.7517241379310344
K Nearest Neighbors 0.696551724137931
Classification Tree 0.7172413793103448

c:\users\akhil_s_bhat\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
vc = VotingClassifier(estimators=classifiers)
vc.fit(X_train,y_train)
y_pred = vc.predict(X_test)
accuracy = accuracy_score(y_pred,y_test)
print('Voting Accuracy: ',accuracy)

Voting Accuracy:  0.7034482758620689

c:\users\akhil_s_bhat\appdata\local\programs\python\python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Bagging

In [24]:
dt = DecisionTreeClassifier(max_depth=4,min_samples_leaf=0.16,random_state=1)
bc = BaggingClassifier(base_estimator=dt,n_estimators=300,n_jobs=-1)

In [25]:
bc.fit(X_train,y_train)
y_pred = bc.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print('Bagging Classifier: ',accuracy)

Bagging Classifier:  0.7172413793103448

## OOB Evaluation

In [26]:
dt = DecisionTreeClassifier(max_depth=4,min_samples_leaf=0.16,random_state=1)
bc = BaggingClassifier(base_estimator=dt,n_estimators=300,n_jobs=-1,oob_score=True)

In [27]:
bc.fit(X_train,y_train)
y_pred = bc.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print('Bagging Classifier with OOB: ',accuracy)

Bagging Classifier with OOB:  0.7241379310344828

## ADA Boost

In [28]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import roc_auc_score

In [29]:
dt=DecisionTreeClassifier(max_depth=1,random_state=1)
adb_clf = AdaBoostClassifier(base_estimator=dt,n_estimators=100)

In [30]:
adb_clf.fit(X_train,y_train)
y_pred_proba = adb_clf.predict_proba(X_test)[:,1]
roc_score = roc_auc_score(y_test,y_pred_proba)

In [31]:
print("ROC AUC Score: ",roc_score)

ROC AUC Score:  0.6795238095238095

## Hyperparameter tuning using Grid Search Cross Validation

In [32]:
from sklearn.model_selection import GridSearchCV

In [33]:
params_dt = {'max_depth':[2,3,4],'min_samples_leaf':[0.12,0.14,0.16,0.18]}

In [34]:
grid_dt = GridSearchCV(estimator=dt,
                       param_grid=params_dt,
                       scoring='roc_auc',
                       cv=5,
                       n_jobs=-1)

In [35]:
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=DecisionTreeClassifier(max_depth=1, random_state=1),
             n_jobs=-1,
             param_grid={'max_depth': [2, 3, 4],
                         'min_samples_leaf': [0.12, 0.14, 0.16, 0.18]},
             scoring='roc_auc')

In [36]:
best_model = grid_dt.best_estimator_
y_pred_proba = grid_dt.predict_proba(X_test)[:,1]
test_roc_auc = roc_auc_score(y_test,y_pred_proba)
print('Test set ROC AUC score: {:.3f}'.format(test_roc_auc))

Test set ROC AUC score: 0.720